@charset "utf-8";

body {
	display: grid;


	 grid-template-areas: "header header"
	"nav nav"
	 "section section"
	 "footer footer";

 
	margin-left: auto;
	margin-right: auto;
	width: 70%;
   
	background-color: gray;
	font-family: Verdana, Geneva, sans-serif;
	outline: 2px solid red;
}

div > h2 {
	text-align: center;
}

li {
	display: inline;
	font-size: 30px;
}

a {
	text-decoration: none;
}

ul {
	text-align: center;
  list-style-type: none;

}

ul {
 outline: 2px solid blue;
 background-color: white;
 padding: 15px 30px;
}
ul > * {
 outline: 2px solid blue;

 padding: 15px 30px;
}

h2 {
	text-align: center;
}

header {
	grid-area: header;
}

section {
	grid-area: section;
}

footer{
	grid-area: footer;
	outline: 2px solid blue;
}

header img {
	width: 100%;
	height: 100%;
}

div#myDIV {

  display: grid;
  gap: 10px;
  background-color: gray;
  padding: 10px;
  grid-template-areas: '. myArea myArea' 'myArea2 myArea2 myArea2';
}

div#myDIV div {
  padding: 20px 20px;
  
}

div.item1 {

}

div.item2 {
	outline: 2px solid blue;
	background-color: rgba(0, 0, 0);
	grid-area: myArea;
}

div.item2 > img {
	height: 100%;
	width: 100%;
}

div.item3 {
  grid-area: myArea2;
}





